.app-header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 2;

    img {
        object-fit: contain;
        width: 102px;
    }

    .user {
        h4 {
            margin: 0;
        }
    }
}