.app-header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    justify-content: space-between;

    img {
        object-fit: contain;
    }

    .user {
        h4 {
            margin: 0;
        }
    }
}