* {
    box-sizing: border-box;
    font-family: roboto;

}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: roboto;
    line-height: 1.6;
    // color: $clr2;
}

body {
    font-size: rem(14px);
    margin: 0;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: roboto;
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app {
    background-color: #fafafa;
    min-height: 100vh;
}