.instagram-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .post-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @include for-normal-layout {
            flex-direction: row;

        }

    }
}

.modal {
    .css-1wnsr1i {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 22px;

    }

    img {
        object-fit: contain;
        width: 102px;

    }

    .sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .css-q0jhri-MuiInputBase-root-MuiInput-root {
            width: 100%;

        }

    }
}